<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">Confirmação de Compra</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<h1>
			Pedido número: <span th:text="${purchase.id}"> </span>
		</h1>

		<p>
			Instante: <span th:text="${#dates.format(purchase.instant, 'dd/MM/yyyy hh:mm')}"></span>
		</p>

		<p>
			Cliente: <span th:text="${purchase.customer.name}"></span>
		</p>

		<p>
			Situação do pagamento: <span th:text="${purchase.payment.status.description}"></span>
		</p>

		<h3>Detalhes do pedido:</h3>

		<table border="1">
			<tr>
				<th>Produto</th>

				<th>Quantidade</th>

				<th>Preço unitário</th>

				<th>Subtotal</th>
			</tr>
			<tr th:each="item : ${purchase.items}">
				<td th:text="${item.product.name}">nome</td>
				<td th:text="${item.quantity}">quantidade</td>
				<td th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA')}">preço</td>
				<td th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2, 'COMMA')}">subTotal</td>
			</tr>
		</table>

		<p>
			Valor total: <span th:text="${#numbers.formatDecimal(purchase.amount, 0, 'POINT', 2, 'COMMA')}"></span>
		</p>

	</div>
</body>

</html>